.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background-color: #ffffff!important;
}

.nav-link {
    border-color: #F0F5F7!important;
}

.page-header.navbar {
    background-color: #5e8c5d!important;
}

.page-header.navbar .menu-toggler>span, .page-header.navbar .menu-toggler>span:after, .page-header.navbar .menu-toggler>span:before, .page-header.navbar .menu-toggler>span:hover, .page-header.navbar .menu-toggler>span:hover:after, .page-header.navbar .menu-toggler>span:hover:before {
    background: #ffffff!important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
    color: #b8bec5!important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-language>.dropdown-toggle>.langname, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>i {
    color: snow!important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover, .page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
    background-color: rgb(103, 152, 102)!important;
}

.page-wrapper {
    background-color: white!important;
    margin-top: 50px;
}

.page-footer {
    border-top: 1px solid #eef1f5;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: white;
}

.page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a {
    background: #ececec;
    color: black;
}

.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
    color: #656565;
}

.quick-nav-trigger {
    background: #5e8c5d;
}

.page-sidebar-wrapper {
    position: fixed;
    z-index: 101!important;
}

.navbar-collapse {
    z-index: 10!important;
}

.page-sidebar-menu.page-sidebar-menu-closed>li:hover {
    box-shadow: 1px 1px 1px 1px rgba(44,53,66,.2);
}

.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
    background: #5e8c5d;
    color: #fff;
}

.nav-item .sub-menu {
    background-color: #ececec!important;
    box-shadow: 1px 1px 1px 1px lightgrey!important;
}

.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a {
    background: #dedede!important;
    box-shadow: 1px 1px 1px 1px lightgrey;
    color: black;
}

.page-sidebar .page-sidebar-menu .sub-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a {
    color: #000000!important;
}

.page-bar {
    height: 44px!important;
    width: 100%!important;
    z-index: 100!important;
}

.page-bar h4 {
    font-weight: 600;
    color: gray;
    margin-top: 12px;
}

.profile-sidebar-portlet {
    padding-bottom: 30px!important;
}

.page-container-bg-solid .page-bar, .page-content-white .page-bar {
    margin: 0px!important;
}

.profile-content {
    background-color: white;
    padding: 20px;
}

.portlet.light.bordered {
    border: 0px solid transparent!important;
}

.md-radio-inline {
    margin-bottom: 20px;
}

.dashboard_logo {

    
}

.dashboard_logo img {
    width: 160px!important;
    height: 50px!important;
    padding: 10px!important;
    margin: 0px!important;
}

.quick-nav .quick-nav-bg {
    background: #5e8c5d;
}

.canvasjs-chart-credit {
    display: none;
}

.image_upload {
    display: none;
}

.profile-detail-ul {
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
}

.profile-detail-ul li {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
}

.profile-detail-ul li span:nth-child(1) {
    font-weight: 600;
}

.profile-detail-ul li span:nth-child(2) {
    color: gray;
}

.profile-detail-cover {
    overflow: hidden;
    background-color: white;
    padding-bottom: 15px;
}

.profile-detail-header {
    border-bottom: 1px solid lightgray;
}

.profile-overview-header {

}

.profile-detail-header-text {
    font-size: 22px;
    font-weight: 600;
    color: #5b9bd1;
}

.send-message {
    background-color: #1f8acc;
    border-color: #1f8acc;
    border-radius: 0px!important;
    margin-top: 15px;
    margin-left: 15px;
}

.nav-menu-cover {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
}

.nav-menu-ul {
    padding-left: 300px!important;
    padding-right: 300px!important;
    position: relative;
    top: 1px;
}

.nav-menu-ul-detail {
    padding-left: 200px!important;
    padding-right: 200px!important;
    position: relative;
    top: 1px;  
}

.page-header-fixed .page-container {
    margin-top: 15px!important;
}

@media (max-width: 480px) {
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
        background-color: transparent;
    }
}

@media (max-width: 991px) {
    .page-sidebar .page-sidebar-menu>li>a {
        border-top: 1px solid #364150;
        width: 250px;
        background-color: #eef1f5;
    }
    
    .page-sidebar .page-sidebar-menu .sub-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a {
        background-color: #ececec;
    }

    .page-sidebar .page-sidebar-menu .sub-menu li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li {
        margin-top: 0px!important;
    }

    .page-sidebar-wrapper {
        position: absolute;
        right: 0px;
        z-index: 101!important;
    }
}

.profile_history_btn {
    float: left;
    margin-bottom: 5px;
    border-radius: 0px!important;
}

.profile_note_btn {
    float: left;
    border-radius: 0px!important;
}

.patient-profile-btn {
    display: inline-table;
}

.profile-image-cover {
    padding-top: 15px;
    overflow: hidden;
}

.profile-assume {
    padding-right: 0px;
}

.min-show {
    display: inline-block;
}

.profile-assume-inner {
    background-color: white;
    padding-bottom: 15px;
}

@media (max-height: 1578px) {
    .nav-menu-ul-detail {
        padding-left: 120px!important;
        padding-right: 120px!important;
    }
}

@media (max-width: 1366px) {
    .nav-menu-ul {
        padding-left: 250px!important;
        padding-right: 250px!important;
    }

    .nav-menu-ul-detail {
        padding-left: 40px!important;
        padding-right: 40px!important;
    }
}

@media (max-width: 1178px) {
    .nav-menu-ul {
        padding-left: 150px!important;
        padding-right: 150px!important;
    }

    .nav-menu-ul-detail {
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
}

@media (max-width: 991px) {
    .nav-menu-ul {
        padding-left: 50px!important;
        padding-right: 50px!important;
    }
}

@media (max-width: 767px) {
    .nav-menu-ul {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }

    .nav-menu-ul-detail {
        padding-left: 100px!important;
        padding-right: 100px!important;
    }
}

@media (max-width: 991px) {
    .img-responsive {
        display: inline;
        margin-left: 15px;
        width: 50%;
        padding-top: 15px;
    }

    .img-responsive1 {
        display: block!important;
    }

    .profile-image-cover {
        text-align: center;
    }
    
    .profile-assume {
        margin-top: 15px;
        padding-left: 0px;
    }
}

@media (max-width: 767px) {
    .img-responsive {
        display: inline;
        margin-left: 15px;
        width: 50%;
        padding-top: 15px;
    }

    .img-responsive1 {
        display: block!important;
    }

    .profile-image-cover {
        text-align: center;
    }
    
    .profile-assume {
        margin-top: 15px;
        padding-left: 0px;
    }

    .profile-detail-cover ul {
        display: grid;
    }

    .profile-assume-inner {
        display: grid;
    }
}

@import url(http://fonts.googleapis.com/css?family=Share:400,700&subset=latin,latin-ext);

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    font: 0.75em/1.5 sans-serif;
    background: #eef1f5;
    margin-top: 50px;
}

/**
 * Tabs object.
 *
 * 1. Tables (kinda) for layout!
 * 2. This is the magic bit; make all children occupy equal width.
 * 3. Required to make the tabs fill their container.
 * 4. Make each tab pack up horizontally.
 * 5. Ensure the hit area covers the whole tab.
 */
.tabs {
    margin:  0;
    padding: 0;
    list-style: none;
    display: table; /* [1] */
    table-layout: fixed; /* [2] */
    width: 100%; /* [3] */
}

    .tabs__item {
        width: 100%;
        float: left;
    }

    @media screen and (min-width: 40em) {
        .tabs__item {
          display: table-cell; /* [4] */
          float: none;
          width: auto;
        }
    }

        .tabs__link {
            display: block; /* [5] */
        }


/**
 * Primary navpart. Extends `.tabs`.
 *
 * 1. Stop tabs’ corners leaking out beyond our 4px round.
 */
.primary-navpart {
    text-align: center;
    border-radius: 0;
    overflow: hidden; /* [1] */
}

.primary-navpart a {
    padding: .75em 1em;
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    font-family: Share, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    border: 1px solid transparent;
}

.primary-navpart a:hover {
    color: black;
    border: 1px solid lightgray!important;
    border-bottom: 1px solid white!important;
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
}

.item_active {
    color: black;
    border: 1px solid lightgray!important;
    border-bottom: 1px solid white!important;
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;  
}

/* Responsive-navpart.js */

.js .navpart-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.navpart-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.navpart-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .navpart-collapse {
    position: relative;
  }
  .js .navpart-collapse.closed {
    max-height: none;
  }
  .navpart-toggle {
    display: none;
  }
}

.navpart-collapse {
  list-style: none;
  width: 100%;
  float: left;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navpart-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 70px;
  height: 55px;
  float: right;
}

.navpart-toggle:before {
  color: #f8d800; /* Edit this to change the icon color */
  font-family: "responsivenavpart", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 28px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

.navpart-toggle.active::before {
  font-size: 24px;
  content:"x";
}

.wrapper {
    margin: 0 auto;
}

.table {
    margin: 0px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    display: table;
}

@media screen and (max-width: 580px) {
    .table {
        display: block;
    }
}

.row-table {
  display: table-row;
  background: #f9f9f9;
}

.row-table:hover {
    background: #a7b7a7;
    box-shadow: 0px 0px 2px 2px lightgrey;
    cursor: pointer;
}

@media screen and (max-width: 580px) {
    .row-table {
        padding: 8px 0;
        display: block;
    }
}

.row-table:nth-of-type(odd) {
    background: #dcdcdc;
}

.row-table:nth-of-type(odd):hover {
    background: #a7b7a7;
    box-shadow: 0px 0px 2px 2px lightgrey;
    cursor: pointer;
}

.row-table.header {
    font-weight: 900;
    color: #ffffff;
    background: #5e8c5d;
}

.cell-table {
  padding: 6px 12px;
  display: table-cell;
  text-align: center;
}

@media screen and (max-width: 580px) {
    .cell-table {
        padding: 2px 12px;
        display: block;
    }
}

.schedule {
    display: none;
}

.schedule-background {
    position: fixed;
    background-color: rgba(211, 211, 211, 0.64);
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 100;
}

.schedule-calender {
    position: absolute;
    z-index: 101;
    top: 100px;
}

.logmod__close {
    display: block;
    position: absolute;
    right: 50%;
    background: url(http://imgh.us/close_white.svg) no-repeat scroll 0% 0% transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    top: -72px;
    margin-right: -24px;
    width: 48px;
    height: 48px;
}

.table-hover tbody tr {
    cursor: pointer;
}

.transaction-accept {
    display: none;
}

.transaction-accept-background {
    position: fixed;
    background-color: rgba(211, 211, 211, 0.64);
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 100;
}

.transaction-accept-main {
    position: absolute;
    z-index: 101;
    top: 100px;
}

.portlet.box.red {
    border: 1px solid #5e8c5d;
}

.portlet.box.red>.portlet-title, .portlet.red, .portlet>.portlet-body.red {
    background-color: #5e8c5d;
}

.mt-checkbox {
    margin-right: 100px;
}

.service-vr {
    border-bottom: 1px solid lightgray;
    display: inline-block;
    margin-bottom: 30px;
}

.service-vr-title {
    font-size: 18px;
    font-weight: 600;
    float: left;
    padding-top: 3px;
    margin-right: 15px;
}

.service-vr-select {
    width: 200px;
    float: left;
}

.service-vr-input {
    width: 200px;
    float: left;
    margin-left: 15px;
}

.service-vr-comment-cover {
    clear: both;
}

.service-vr-comment-cover h5 {
    margin-left: 100px;
    padding-top: 15px;
}

.profile_setup_radio {
    text-align: center;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.staff_summary {
    display: block;
}

.patient_summary {
    display: none;
}

.profile_created_by {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 600;
}

.dashboard_land_font {
    font-family: monospace;
    color: #505050;
}

.dashboard_h4 {
    font-weight: 600;
    color: #505050;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>img {
    float: left;
    margin-top: -9px;
    margin-right: 5px;
    height: 35px;
    width: 35px;
    display: inline-block;
}

.profile_setup_custom {
    color: #888;
}

.nhs_number {
    display: flex;
}

.nhs_number input {
    width: 80px;
    float: left;
    margin-right: 10px;
}

.nhs_number span {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.setup_conform {
    font-weight: 900;
    color: #e7505a;
}

.select_patient_profile {
    display: none;
}

.patient_occupation {
    
}

.patient_visible {

}

.page-content {
    /*height: 1000px;*/
}

.general_request {
    display: block;
}

.profile_request {
    display: none;
}

.staff_introduce {
    color: dimgrey;
    margin: 0px;
    margin-top: 15px;
    margin-left: 30px;
    display: grid;
}

.staff_introduce li {
    margin-bottom: 5px;
    display: -webkit-box!important;
}

.staff_workplace {
    font-size: 18px;
    font-weight: 600;
    color: #505050;
}

.patient_profile_img {
    width: 200px!important;
    height: 200px!important;
    margin-left: 15px;
    max-width: 200px!important;
}

.qn_setup_custom {
    font-size: 18px;
    font-family: inherit;
    color: #525252;
}

.qn_each {
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    overflow: hidden;
}

.qn_request {

}

.qn_btn {
    margin-left: 50px;
}

.nqn {
    display: none;
}

.qn_type {
    font-size: 15px;
    color: #3598dc;
}

.send_msg {

}

.chat-room form {
    display: flex!important;
    border-top: 3px solid lightgray;
}

.notification {
    display: none;
}

.see_allmsg {
    float: left;
    margin-right: 15px;
    margin-top: 7px;
}

.date_input {
    margin: 0px!important;
    padding: 0px!important;
    width: auto!important;
}

.patient_profile_id {

}

@media screen and (max-width: 991px) {
    .page-wrapper {
        margin-top: 0px;
    }
}

.dashboardpage_height {

}

@media screen and (max-width: 991px) {
    .media_adjust_detail {
        /*padding-left: 150px;
        padding-right: 150px;*/
    }
}

@media screen and (max-width: 767px) {
    .media_adjust {
        float: none!important;
        width: 100%;
    }

    .media_adjust {
        float: none!important;
        width: 100%;
    }

    .media_adjust_detail {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.newrequest_num {

}

.newrequest_btn {
    display: none;
    margin-top: -3px;
}

.patient_profile_request {

}

.message .body {
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 5px;
}

.consult_multisel {
    margin-bottom: 15px;
    height: 570px!important;
    width: 90%;
    border: 2px solid #eef1f5;
    padding: 10px;
    overflow: scroll;
    list-style-type: none;
}

.contact_info {
    width: 26%;
    float: left;
    height: 635px;
    border-right: 5px solid #eef1f5;
}

.message_info {
    position: relative;
    overflow: hidden;
    width: 70%;
    float: right;
}

.account_sel {
    height: 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    padding-left: 70px;
    padding-top: 8px;
    font-size: 15px;
    margin-bottom: 5px;
}

.account_sel:nth-child(1) {
    box-shadow: 1px 0px 10px rgb(78, 86, 78);
}

.account_sel:hover {
    cursor: pointer;
    box-shadow: 1px 0px 10px rgb(78, 86, 78);
}

.account_name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 1050px) {
    .contact_info {
        width: 100%;
        float: none;
        height: auto;
    }

    .message_info {
        width: 100%;
        flex: none;
    }

    .consult_multisel {
        height: auto!important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1407px) {
    .adjust_image {
        width: 100%!important;
        float: none!important;
    }

    .adjust_container {
        width: 100%!important;
        float: none!important;
        padding-left: 0px;
        margin-top: 15px;
    }
}

.grid_style {
    width: 33%;
    float: left;
}

#headm3d {
    height: 400px; 
    min-width: 310px; 
    max-width: 800px;
    margin: 0 auto;
}

.refresh_a:hover {
    background-color: transparent!important;
    border-color: transparent!important;
}

.refresh_a:focus {
    background-color: transparent!important;
    border-color: transparent!important;   
}

#pointer_profile_pointer {
    float: left;
}